@model FreeLance.Controllers.ProblemController.DetailsView
@{ FreeLance.Models.ProblemModels problem = Model.ProblemModels;
	bool isSubscribed = Model.IsSubscibed;}
@{
	ViewBag.Title = "Problem";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>@Html.DisplayFor(model => problem.Name)</h2></div>
        <div class="panel-body">
            <p>@Html.DisplayFor(model => problem.Description)</p>
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> @Html.DisplayFor(model => problem.Cost)</td>
                    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.DisplayFor(model => problem.Employer.FIO)</td>
                    @if (problem.Contracts.Count > 0)
                    {
                        <td>Выполняют задачу: @Html.DisplayFor(model => problem.Contracts.Count)</td>
                    }
                    @if (problem.Subscriptions.Count > 0)
                    {
                        <td>Подписалось на задачу: @Html.DisplayFor(model => problem.Subscriptions.Count)</td>
                    }
                    else
                    {
                        <td>Нет подписок на эту задачу</td>
                    }
                </tr>
                </tbody>
            </table>
            @if (Context.User.IsInRole("Employer"))
            {
                if (problem.Status != FreeLance.Models.ProblemStatus.Closed)
                {
                    using (Html.BeginForm("ChangeStatus", "Problem", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@problem.ProblemId" />
                            <input name="status" type="hidden" value="@FreeLance.Models.ProblemStatus.Closed" />
                            <input name="redirect" type="hidden" value="/Problem/Details/@problem.ProblemId" />
                            <input type="submit" class="btn btn-danger btn-lg" value="Закрыть задачу" />
                    }
                }

                if (problem.Contracts.Count > 0)
                {
                    <div class="list-group">
                        <div class="list-group-item-heading"><h5>Задачу уже выполняют:</h5>
                        </div>
                        @foreach (var contract in problem.Contracts)
                        {
                            <div class="list-group-item">
                              @Html.ActionLink(contract.Freelancer.UserName, "Profile", "Freelancer", new { id = contract.Freelancer.Id }, null)
                                <div class="pull-right">
                                    @Html.ActionLink("Посмотреть подробности контракта", "Details", "Contract", new { id = contract.ContractId }, null)
                                </div>
                            </div>
                        }
                    </div>
                }

                if ((problem.Subscriptions.Count > 0))
                {
                    <div class="list-group">
                        <div class="list-group-item-heading"><h5>Подписались на задачу:</h5>
                        </div>
                        @foreach (var subscription in Model.Subscriptions)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(subscription.Freelancer.FIO, "Profile", "Freelancer", new {id = subscription.Freelancer.Id}, null)
                                <div class="pull-right">
                                    @Html.ActionLink("Подписать контракт", "Create", "Contract", new
                                    {
                                        problemID = Model.ProblemModels.ProblemId,
                                        freelancerId = subscription.Freelancer.Id
                                    }, null)
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div class="panel-footer">
            @if (Context.User.IsInRole("Freelancer"))
            {
                if (!isSubscribed)
                {
                    using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@problem.ProblemId"/>
                        <input  type="submit" class="btn btn-success btn-lg" value="Подписаться на задачу"/>
                    }

                }
                else
                {
                    using (Html.BeginForm("UnSubscribe", "Subscription", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@problem.ProblemId" />
                        <input type="submit" class="btn btn-danger btn-lg" value="Отписаться от задачи" />
                    }

                }
            }
        </div>
    </div>
</div>

