@model FreeLance.Controllers.ProblemController.DetailsView
@using Microsoft.AspNet.Identity;
@{
	ViewBag.Title = "Задача";
}


@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		.info-container {
			margin: 15px 0;
		}
		.info-block {
			text-align: center;
			padding: 5px;
		}
		.info-block-money {
			margin-right: 125px;
		}
		.info-wrapper {
			border: 1px solid #dddddd;
			border-radius: 15px;
			padding: 0 20px;
			margin: 20px;
		}
		.form-send {
			text-align: right;
		}
		
		.container-header {
			display: flex; /* or inline-flex */
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
		}

		.container-problem-title {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.container-name-and-email {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}

		.container-avatar-info{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}

		.item-avatar {
			padding: 2px;
			border: 1px solid #dddddd;
			border-radius: 2px;
			margin-left: 20px;
			width: 80px;
			height: 80px;
		}

		.item-problem-title {
			margin-top: 10px;
		}
		.item-name {
			margin-top: 0px;
		}
		.panel {
			margin-top: 25px;
		}
	</style>
}


<div class="row">
	<div class="col-sm-10">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div class="container-header">
					<div class="container-problem-title">
						<h2 class="item-problem-title">@Model.ProblemName</h2>
					</div>                    
					<div class="container-avatar-info">
						<div class="container-name-and-email">
							<a href="/Employer/Details/@Model.EmployerId">
								<h3 class="item-name">@Model.EmployerName</h3>
							</a>
							<div class="item-email">
								<i>@Model.EmployerEmail</i>
							</div>
						</div>
						<img src=@Model.PhotoPath class="item-avatar">
					</div>
                    @if (User.IsInRole("Coordinator"))
                    {
                        <div>
                            <a href="@Url.Action("ChangeProblemVisibility", "Coordinator", new {problemId = Model.ProblemId})">
                                @if (Model.IsHidden == true)
                                {
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                }
                            </a>
                        </div>
                    }                    
				</div>
			</div>
			<div class="panel-body">
				<p>@Model.ProblemShortDescription</p>
				<div class="info-wrapper">
					<div class="container info-container">
						<div class="row">
							<div class="col-md-6 info-block">
								<h4>Создано: @Model.CreatingDate</h4>
							</div>

							<div class="col-md-6 info-block">
								<span class="info-block-money">
									<b style="font-size:20px">@Model.Cost</b>
									<span class="flaticon-ruble-big"></span>
								</span>
							</div>
						</div>
						<div class="row">

							<div class="col-md-6 info-block">
								<h4>Сделать до: @Model.DeadlineDate</h4>
							</div>

							<div class="col-md-6 info-block">
								<b style="font-size:18px">рабочих мест: @Model.AmountOfWorkers</b>
							</div>
						</div>
					</div>
				</div>

				
				<h4>Контракты в работе</h4>
				<table class="table table-bordered" style="text-align:center">
					@foreach (var contract in @Model.ContractsInProgress)
					{
						<tr>
							<td>
								<a href="/Freelancer/Details/@contract.FreelancerId">
									@contract.FreelancerName
								</a>
							</td>
							<td>
								<a href="/Contract/Details/@contract.ContractId">
									К контракту
								</a>
							</td>
						</tr>
					}
					@if (@Model.ContractsInProgress.Count == 0)
					{
						<tr>
							<td>
								Пока что их нет.
							</td>
						</tr>
					}
				</table>
					

				<h4>Завершенные контракты</h4>
				<table class="table table-bordered" style="text-align:center; ">
					@foreach (var contract in @Model.ContratsClosed)
					{
						<tr>
							<td>
								<a href="/Freelancer/Details/@contract.FreelancerId">
									@contract.FreelancerName
								</a>
							</td>
							<td>
								<a href="/Contract/Details/@contract.ContractId">
									К контракту
								</a>
							</td>
						</tr>
					}
					@if (@Model.ContratsClosed.Count == 0)
					{
						<tr>
							<td>
								Пока что их нет.
							</td>
						</tr>
					}
				</table>

				<h4>Подписчики</h4>
				<table class="table table-bordered" style="text-align:center; ">
					@foreach (var subscriber in @Model.Subscribers)
					{
						<tr>
							<td>
								<a href="/Freelancer/Details/@subscriber.FreelancerId">
									@subscriber.FreelancerName
								</a>
							</td>
							<td>
								<span class="stars" data-score=@subscriber.FreelancerRate.ToString().Replace(",",".")></span>
							</td>
							<td>
								@Html.ActionLink("Подписать контракт", "Create", "Contract", new
								   {
									   problemID = Model.ProblemId,
									   freelancerId = subscriber.FreelancerId
								   }, null)
							</td>
						</tr>
					}
					@if (@Model.Subscribers.Count == 0)
					{
						<tr>
							<td>
								Пока что их нет.
							</td>
						</tr>
					}
				</table>

				
				
				@if (Model.showMore)
				{
					<p>@Html.Raw(Model.ProblemFullDescription)</p>
					<a href="/Problem/Details/@Model.ProblemId?showMore=false" class="btn btn-primary" role="button" >
						Скрыть полное описание
					</a>
				}
				else
				{
					<a href="/Problem/Details/@Model.ProblemId?showMore=true" class="btn btn-primary" role="button">
						Показать полное описание
					</a>
				}
			</div>
			<div class="panel-footer">
				@if (Context.User.IsInRole("Freelancer") && Model.IsApproved == true)
				{
					if (!Model.IsSubscibed)
					{
						using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
						{
								<input name="id" type="hidden" value="@Model.ProblemId" />
								<input type="submit" class="btn btn-success btn-lg" value="Подписаться на задачу" />
						}

					}
					else
					{
						using (Html.BeginForm("UnSubscribe", "Subscription", FormMethod.Post))
						{
								<input name="id" type="hidden" value="@Model.ProblemId" />
								<input type="submit" class="btn btn-danger btn-lg" value="Отписаться от задачи" />
						}

					}
				}
				@if (Context.User.IsInRole("Employer") && Model.EmployerId == User.Identity.GetUserId())
				{
					if (Model.Status != FreeLance.Models.ProblemStatus.Closed)
					{
						using (Html.BeginForm("ChangeStatus", "Problem", FormMethod.Post, new { @class = "form-send" }))
						{
								<input name="id" type="hidden" value="@Model.ProblemId" />
								<input name="status" type="hidden" value="@FreeLance.Models.ProblemStatus.Closed" />
								<input name="redirect" type="hidden" value="/Problem/Details/@Model.ProblemId" />
								<input type="submit" class="btn btn-danger btn-lg" value="Закрыть задачу" />
						}
					}
				}
			</div>
		</div>

		@if (User.IsInRole("Freelancer") || User.IsInRole("Coordinator") || Model.EmployerId == User.Identity.GetUserId())
		{
			@Html.Action("ProblemChat", "Chat", new { problemId = Model.ProblemId });
		}
	</div>    
</div>

<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
<script>
		$(function () {
			$(".stars").each(function () {
				$(this).raty({
					path: "../../Content/images",
					readOnly: true,
					score: function () {
						return $(this).attr('data-score');
					}
				});
			});
		});
</script>




