@using Microsoft.AspNet.Identity
@model FreeLance.Controllers.ContractController.DetailsView
@{
	ViewBag.Title = "Contract";
}

@section PageScripts{
	<!-- Include Raty JS file -->

	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>

}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
}

<div class="row">
	<div class="col-sm-10">
		<h2>Контракт</h2>
		<div class="panel panel-default">
			<div class="panel-heading">
				<table>
					<tr>
						<td width="80">
							<img src=@Model.PhotoPath height="70" width="70">
						</td>
						<td>
							<a href="/Freelancer/Details/@Model.FreelancerId">
								<h3>@Model.FreelancerName</h3>
							</a>
							<i>@Model.FreelancerEmail</i>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-body container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<h2>@Model.ProblemName</h2>
						<hr />
					</div>
				</div>
				<div class="row text-center" style="font-size:16px">
					<div class="col-xs-4">
						<b>Создан:</b> @Model.CreatingDate
					</div>
					<div class="col-xs-4">
						<b>Сделать до: </b> @Model.DeadlineDate
					</div>
					<div class="col-xs-4">
						<b style="font-size:20px">@Model.Cost</b>
						<span class="flaticon-ruble-big"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr />
						@Model.Details
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr />
						<a href="#">Приложение 1</a>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				@if (User.IsInRole("Employer") &&
				Model.Status == FreeLance.Models.ContractStatus.Done)
				{

					using (Html.BeginForm("Close", "Contract", FormMethod.Post))
					{
						<div>
							<b>Оцените работу фрилансера<span style="color:red">*</span>:</b>
							<div id="starToRate"></div>
						</div>
						<input type="hidden" id="hint" name="rate" value="0" />
						<input name="id" type="hidden" value="@Model.ContractId" />
						<div>
							<textarea name="comment" placeholder="Почему именно такая оценка?" required></textarea>
						</div>
						<input id="closeContractBtn" class="btn btn-success" type="submit"
							   value="Принять работу" style="margin-top:5px" disabled />
					}
				}
				@foreach (var button in Model.ChangeStatusButtons)
				{
					<div>
						@using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
						{
							<input name="id" type="hidden" value="@Model.ContractId" />
							<input name="status" type="hidden" value="@button.Status" />
							<input name="redirect" type="hidden" value="@button.Redirect" />
							<input type="submit" class="btn @button.Classes" value="@button.Text" style="margin-top:5px"/>
						}
					</div>
				}
			</div>
		</div>

		@{ string userId = User.Identity.GetUserId(); }
		@if (Model.FreelancerId == userId || Model.EmployerId == userId)
		{
			@Html.Action("ContractChat", "Chat", new { contractId = Model.ContractId });
		}
	</div>
</div>


<script>
	$('#star').raty({
		path: "../../Content/images",
		readOnly: true,
		score: function () {
			return $(this).attr('data-score');
		}
	});

	$('#starToRate').raty({
		path: "../../Content/images",
		click: function (score, evt) {
			document.getElementById("closeContractBtn").disabled = false;
			document.getElementById("hint").value = score;
		}
	});
</script>




