@using Microsoft.AspNet.Identity
@model FreeLance.Controllers.ContractController.DetailsVR
@{ FreeLance.Models.ContractModels contract = Model.Contract; }
@{
	ViewBag.Title = "Contract";
}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
}

@section PageScripts{
	<!-- Include Raty JS file -->
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}


<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="contact-preheader">Описание контракта:</h5>
			<h2> @Html.DisplayFor(model => contract.Problem.Name)</h2>
		</div>
		<div class="panel-body">
			@if (contract.Status == FreeLance.Models.ContractStatus.Closed)
			{
				<div id="star" data-score=@contract.Rate></div>
				<p><strong>Дата закрытия: </strong> @Html.DisplayFor(model => contract.EndingDate)</p>
				<p><strong>Комментарий работодателя: </strong> @Html.DisplayFor(model => contract.Comment)</p>
			}
			<p> <strong>Дата создания: </strong> @Html.DisplayFor(model => contract.CreationDate)</p>
			<p> <strong>Детали контракта: </strong> @Html.DisplayFor(model => contract.Details)</p>
			<p> <strong>Краткое описание задачи: </strong> @Html.Raw(contract.Problem.SmallDescription)</p>
			<p> <strong>Общее описание задачи: </strong> @Html.Raw(contract.Problem.Description)</p>
			<table class="table">
				<tbody>
					<tr>
						<td>
							<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
							@Html.DisplayFor(model => contract.Cost)
						</td>
						<td>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							@Html.DisplayFor(model => contract.Problem.Employer.FIO)
						</td>
						<td><b>Статус:</b> @Html.DisplayFor(model => contract.Status)</td>
						<td><b>Id:</b> @Html.DisplayFor(model => contract.ContractId)</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="panel-footer">	
				@if (User.IsInRole("Employer") &&
				Model.Contract.Status == FreeLance.Models.ContractStatus.Done)
				{

					using (Html.BeginForm("Close", "Contract", FormMethod.Post))
					{
						<div>
							<b>Оцените работу фрилансера<span style="color:red">*</span>:</b>
							<div id="starToRate"></div>
						</div>
						<input type="hidden" id="hint" name="rate" value="0" />
						<input name="id" type="hidden" value="@contract.ContractId" />
						<div>
							<textarea name="comment" placeholder="Почему именно такая оценка?" required></textarea>
						</div>
						<input id ="closeContractBtn" class="btn btn-success btn-lg" type="submit" 
							   value="Принять работу" disabled/>
					}
				}
				@foreach (var button in Model.ChangeStatusButtons)
				{
					<div>
						@using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post)) {
						<input name="id" type="hidden" value="@contract.ContractId" />
						<input name="status" type="hidden" value="@button.Status" />
						<input name="redirect" type="hidden" value="@button.Redirect" />
						<input type="submit" class="btn @button.Classes btn-lg" value="@button.Text" />
						}
					</div>
				}
		</div>
	</div>
</div>


<script>
	

	$('#star').raty({
		path: "../../Content/images",
		readOnly: true,
		score: function () {
			return $(this).attr('data-score');
		}
	});

	$('#starToRate').raty({
		path: "../../Content/images",
		click: function (score, evt) {
			document.getElementById("closeContractBtn").disabled = false;
			document.getElementById("hint").value = score;
		}
	});
</script>


