@using Microsoft.AspNet.Identity
@model FreeLance.Models.ContractModels
@{
	ViewBag.Title = "Contract";
}

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="contact-preheader">Описание контракта:</h5>
            <h2> @Html.DisplayFor(model => model.Problem.Name)</h2>
        </div>
        <div class="panel-body">
            <p> <strong>Общее описание: </strong> @Html.DisplayFor(model => model.Problem.Description)</p>
            <p> <strong>Детали: </strong> @Html.DisplayFor(model => model.Details)</p>
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> @Html.DisplayFor(model => model.Problem.Cost)</td>
                    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.DisplayFor(model => model.Problem.Employer.UserName)</td>
                    <td>Статус: @Html.DisplayFor(model => model.Status)</td>
                    <td>Id: @Html.DisplayFor(model => model.ContractId)</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @if (Context.User.IsInRole("Freelancer") && Context.User.Identity.GetUserId() == Model.Freelancer.Id)
            {
                if (Model.Status == FreeLance.Models.ContractStatus.Opened)
                {
                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.InProgress" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
                        <input type="submit" class="btn btn-success btn-lg" value="Подписать контракт" />
                    }

                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Failed" />
                        <input name="redirect" type="hidden" value="/Freelancer/Home" />
                        <input type="submit" class="btn btn-danger btn-lg" value="Отклонить контракт" />
                    }
                }
                else if (Model.Status == FreeLance.Models.ContractStatus.InProgress)
                {
                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Done" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
                        <input type="submit" class="btn btn-success btn-lg" value="Завершить контракт" />
                    }

                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.СancelledByFreelancer" />
                        <input name="redirect" type="hidden" value="/Freelancer/Archive" />
                        <input type="submit" class="btn btn-danger btn-lg" value="Прервать контракт" />
                    }
                }
                else if (Model.Status == FreeLance.Models.ContractStatus.Done)
                {
                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.InProgress" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
                        <input type="submit" class="btn btn-danger btn-lg" value="Открыть заново" />
                    }
                }
            }

            @if (Context.User.IsInRole("Employer") && Context.User.Identity.GetUserId() == Model.Problem.Employer.Id)
            {
                if (Model.Status == FreeLance.Models.ContractStatus.Done)
                {
                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Closed" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
                        <input type="submit" class="btn btn-success btn-lg" value="Принять работу" />
                    }

                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.InProgress" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
                        <input  type="submit" class="btn btn-danger btn-lg" value="Отправить на доработку" />
                    }
                }
                else if (Model.Status == FreeLance.Models.ContractStatus.InProgress ||
                    Model.Status == FreeLance.Models.ContractStatus.Opened)
                {
                    using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.СancelledByEmployer" />
                        <input name="redirect" type="hidden" value="/Employer/Archive" />
                        <input type="submit" class="btn btn-danger btn-lg" value="Прервать контракт" />
                    }
                }
            }

        </div>
    </div>
</div>


