@using Microsoft.AspNet.Identity
@model FreeLance.Controllers.ContractController.DetailsView
@{
	ViewBag.Title = "Contract";
}


@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		.btn-status {
			width:100%;
			max-width: 200px;
			margin-left: 20px;
		}

		.container-buttons {
			display: flex;
			justify-content: flex-end;
		}

		.form-wrapper {
			position: relative;
		}

		.form-stars {
			display: inline-block; 
			margin: 0 5px;
		}

		.form-comment {
			width: 100%; 
			max-width: initial; 
			margin: 15px 0;
		}

		.form-change-status {
			margin-right: 20px;
		}
		/*input[type="submit"] {
			margin: 5px;
		}*/

		.container-header {
			display: flex; /* or inline-flex */
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
		}

		.container-problem-title {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.container-name-and-email {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}

		.container-avatar-info{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}

		.item-avatar {
			padding: 2px;
			border: 1px solid #dddddd;
			border-radius: 2px;
			margin-left: 20px;
			width: 80px;
			height: 80px;
		}

		.item-problem-title {
			margin-top: 10px;
		}
		.item-name {
			margin-top: 0px;
		}
		.panel {
			margin-top: 25px;
		}
	</style>
}

<div class="row">
	<div class="col-sm-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-header">
					<div class="container-problem-title">
						<h2 class="item-problem-title">@Model.ProblemName</h2>
						@if (Model.Status == FreeLance.Models.ContractStatus.Closed
							|| Model.Status == FreeLance.Models.ContractStatus.Failed
							|| Model.Status == FreeLance.Models.ContractStatus.ClosedNotPaid
							|| Model.Status == FreeLance.Models.ContractStatus.СancelledByEmployer
							|| Model.Status == FreeLance.Models.ContractStatus.СancelledByFreelancer)
						{
							<span id="star" class="pull-right" data-score=@Model.Rate.ToString().Replace(",",".")></span>
						}
					</div>
					<div class="container-avatar-info">
						<div class="container-name-and-email">
							@if (User.IsInRole("Employer"))
							{
								<a href="/Freelancer/Details/@Model.FreelancerId">
									<h3 class="item-name">@Model.FreelancerName</h3>
								</a>
								<div class="item-email">
									<i>@Model.FreelancerEmail</i>
								</div>
							}
							else
							{
								<a href="/Employer/Details/@Model.EmployerId">
									<h3 class="item-name">@Model.EmployerName</h3>
								</a>
								<div class="item-email">
									<i>@Model.EmployerEmail</i>
								</div>
							}
						</div>
						@if (User.IsInRole("Employer"))
						{
							<img src=@Model.FreelancerPhotoPath class="item-avatar">
						}
						else
						{
							<img src=@Model.EmployerPhotoPath class="item-avatar">
						}
					</div>
					@if (User.IsInRole("Coordinator"))
					{
						<div>
							<a href="@Url.Action("ChangeContractVisibility", "Coordinator", new {contractId = Model.ContractId})">
								@if (Model.IsHidden == true)
								{
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>}
								else
								{
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>}
							</a>
						</div>
					}
				</div>
			</div>
			<div class="panel-body container-fluid">
				<div class="row">
					<div class="col-xs-12">
						@if ((User.IsInRole("Employer") || User.IsInRole("Coordinator")) 
							&& (Model.Status == FreeLance.Models.ContractStatus.Closed 
							|| Model.Status == FreeLance.Models.ContractStatus.Failed 
							|| Model.Status == FreeLance.Models.ContractStatus.ClosedNotPaid
							|| Model.Status == FreeLance.Models.ContractStatus.СancelledByEmployer 
							|| Model.Status == FreeLance.Models.ContractStatus.СancelledByFreelancer))
						{
							<p><b>Комментарий работодателя:</b> @Model.Comment</p>
							<hr />
						}
					</div>
				</div>
				<div class="row text-center" >
					<div class="col-xs-3">
						<b>Создан:</b> @Model.CreatingDate
					</div>
					<div class="col-xs-3">
						<b>Сделать до: </b> @Model.DeadlineDate
					</div>
					<div class="col-xs-3">
						<b>Статус: </b> @Model.Status
					</div>
					<div class="col-xs-3">
						<b style="font-size:20px">@Model.Cost</b>
						<span class="flaticon-ruble-big"></span>
					</div>
				</div>

				@if (Model.showMore)
				{
					<p>@Model.Details</p>
					<a href="/Contract/Details/@Model.ContractId?showMore=false" class="btn btn-default" role="button">
						Скрыть полное описание
					</a>
				}
				else
				{
					<a href="/Contract/Details/@Model.ContractId?showMore=true" class="btn btn-default" role="button">
						Показать полное описание
					</a>
				}

				<div class="row">
					<div class="col-xs-6">
                        <hr />
                        @if (Model.TaskAttachmentModels.Count() == 0)
                        {
                            <a href="#">Уточнения к задаче</a>
                        }
                        else
                        {
                            foreach (var taskAttachment in Model.TaskAttachmentModels)
                            {
                                <a href="@taskAttachment.AttachmentPath">taskAttachment.Name</a>
                            }
                        }
						
					</div>
                    <div class="col-xs-6 text-right">
                        <hr />
                        @if (Model.ResultAttachmentModels.Count() == 0)
                        {
                            <a href="#">Результаты</a>
                        }
                        else
                        {
                            foreach (var resultAttachment in Model.ResultAttachmentModels)
                            {
                                <a href="@resultAttachment.AttachmentPath">resultAttachment.Name</a>
                            }
                        }
                    </div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="form-wrapper">
					@if (User.IsInRole("Employer") &&
									(Model.Status == FreeLance.Models.ContractStatus.Done
									|| Model.Status == FreeLance.Models.ContractStatus.InProgress
									|| Model.Status == FreeLance.Models.ContractStatus.Opened))
					{

						using (Html.BeginForm("Close", "Contract", FormMethod.Post))
						{
							<div>
								<b>Оцените работу фрилансера<span style="color:red">*</span>:</b>
								<div id="starToRate" class="form-stars"></div>
							</div>
											<input type="hidden" id="hint" name="rate" value="0" />
											<input name="id" type="hidden" value="@Model.ContractId" />
											<input name="newStatus" type="hidden" value="@Model.finishButton.Status" />
											<input name="freelancerId" type="hidden" value="@Model.FreelancerId" />
											<input name="employerId" type="hidden" value="@Model.EmployerId" />
											<input name="contractName" type="hidden" value="@Model.ProblemName" />
											<div>
												<textarea name="comment" class="form-comment" placeholder="Почему именно такая оценка?" required></textarea>
											</div>
											<input id="closeContractBtn" class="btn btn-status pull-right @Model.finishButton.Classes" type="submit"
												   value="@Model.finishButton.Text" disabled />
						}
					}
					<div class="container-buttons">
						@foreach (var button in Model.ChangeStatusButtons)
						{
							using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post, new { @class = "form-change-status" }))
							{
								<input name="id" type="hidden" value="@Model.ContractId" />
								<input name="status" type="hidden" value="@button.Status" />
								<input name="redirect" type="hidden" value="@button.Redirect" />
								<input name="freelancerId" type="hidden" value="@Model.FreelancerId" />
								<input name="employerId" type="hidden" value="@Model.EmployerId" />
								<input name="contractName" type="hidden" value="@Model.ProblemName" />
								<input type="submit" class="btn @button.Classes btn-status" value="@button.Text" />
							}
						}
					</div>
				</div>
			</div>
		</div>

		@{ string userId = User.Identity.GetUserId(); }
		@if (Model.FreelancerId == userId || Model.EmployerId == userId || User.IsInRole("Coordinator"))
		{
			@Html.Action("ContractChat", "Chat", new { contractId = Model.ContractId });
		}
	</div>
</div>

<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
<script>
	$('#star').raty({
		path: "../../content/images",
		readOnly: true,
		score: function () {
			return $(this).attr('data-score');
		}
	});
	
	
	$('#starToRate').raty({
		path: "../../Content/images",
		click: function (score, evt) {
			document.getElementById("closeContractBtn").disabled = false;
			document.getElementById("hint").value = score;
		}
	});
</script>




