@using Microsoft.AspNet.Identity
@model FreeLance.Controllers.ContractController.DetailsVR
@{ FreeLance.Models.ContractModels contract = Model.Contract; }
@{
	ViewBag.Title = "Contract";
}

<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="contact-preheader">Описание контракта:</h5>
			<h2> @Html.DisplayFor(model => contract.Problem.Name)</h2>
		</div>
		<div class="panel-body">
			<p> <strong>Общее описание задачи: </strong> @Html.Raw(contract.Problem.Description)</p>
			<p> <strong>Детали контракта: </strong> @Html.DisplayFor(model => contract.Details)</p>
			<table class="table">
				<tbody>
					<tr>
						<td>
							<span class="glyphicon glyphicon-euro" aria-hidden="true"></span> 
							@Html.DisplayFor(model => contract.Cost)
						</td>
						<td>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
							@Html.DisplayFor(model => contract.Problem.Employer.FIO)
						</td>
						<td>Статус: @Html.DisplayFor(model => contract.Status)</td>
						<td>Id: @Html.DisplayFor(model => contract.ContractId)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="row">
				@foreach (var button in Model.ChangeStatusButtons) {
					using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post)) {
						<input name="id" type="hidden" value="@contract.ContractId" />
						<input name="status" type="hidden" value="@button.Status" />
						<input name="redirect" type="hidden" value="@button.Redirect" />
						<input type="submit" class="btn @button.Classes btn-lg" value="@button.Text" />	
					}
				}
			</div>
		</div>
	</div>
</div>


