@using Microsoft.AspNet.Identity
@model FreeLance.Models.ContractModels
@{
	ViewBag.Title = "Contract";
}

<h2>@ViewBag.Title</h2>

<p>@Html.DisplayFor(model => model.Details)</p>
<p><b>Problem: </b>@Html.ActionLink(Model.Problem.Name, "Details", "Problem", new { id = Model.Problem.ProblemId }, null)</p>
<p><b>ID: </b>@Html.DisplayFor(model => model.ContractId)</p>
<td><b>Status: </b>@Html.DisplayFor(model => model.Status)</td>

@if (Context.User.IsInRole("Freelancer") && Context.User.Identity.GetUserId() == Model.Freelancer.Id)
{
	if (Model.Status != FreeLance.Models.ContractStatus.Done)
	{
		using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
		{
			<input name="id" type="hidden" value="@Model.ContractId" />
			<input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Done" />
			<input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
			<input style="margin-left: 80px;" type="submit" class="btn btn-success btn-lg" value="Завершить контракт" />
		}
	}
	else
	{
		using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
		{
			<input name="id" type="hidden" value="@Model.ContractId" />
			<input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Opened" />
			<input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
			<input style="margin-left: 80px;" type="submit" class="btn btn-success btn-lg" value="Открыть заново" />
		}
	}
}

@if (Context.User.IsInRole("Employer") && Context.User.Identity.GetUserId() == Model.Problem.Employer.Id)
{
    if (Model.Status == FreeLance.Models.ContractStatus.Done)
    {
        using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
        {
            <input name="id" type="hidden" value="@Model.ContractId" />
            <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Closed" />
            <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
            <input style="margin-left: 80px;" type="submit" class="btn btn-success btn-lg" value="Принять работу" />
        }

        using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
        {
            <input name="id" type="hidden" value="@Model.ContractId" />
            <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.InProgress" />
            <input name="redirect" type="hidden" value="/Contract/Details/@Model.ContractId" />
            <input style="margin-left: 80px;" type="submit" class="btn btn-success btn-lg" value="Отправить на доработку" />
        }
    }
}