@using FreeLance.Controllers
@using FreeLance.Models
@model FreeLance.Models.ContractModels


<div class="panel panel-default">
    <div class="panel-heading"><b>@Model.Problem.Name</b> <span class="pull-right">до: @Model.EndingDate.Date.ToShortDateString()</span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <span class="left-category">Работодатель:</span> <span class="right-category">
                    <a href="/Employer/Details/@Model.Problem.Employer.Id">
                        @Model.Problem.Employer.FIO 
                    </a> 
                </span>
                <span class="left-category">Исполнитель:</span> 
                <span class="right-category"> 
                    <a href="/Freelancer/Details/@Model.Freelancer.Id"> 
                        @Model.Freelancer.FIO 
                    </a> 
                </span>
            </div>
            <div class="col-md-6">
                <span class="left-category">Юрлицо: </span>
                <span class="right-category"> Абби Продакшн <a>Сменить</a> </span> <br />
                <span class="left-category">Создан: </span>
                <span class="right-category">@Model.CreationDate.ToShortDateString()</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" href="/Contract/Details/@Model.ContractId" style="display: inline-block">К контракту</a>
        
        <a href="@Url.Action("FillLawContractTemplateAndDownload", "Coordinator", new { freelancerId = Model.Freelancer.Id })"
           class="btn btn-default pull-right"
           style="display:inline-block; margin-left: 5px;">
            Заполнить ГПХ
        </a>

        <div class="pull-right">
            @if (Model.Status != ContractStatus.ClosedNotPaid)
            {
                Html.RenderPartial("~/Views/Coordinator/_ApproveUserButton.cshtml", Model);
            }
            else
            {
                Html.RenderPartial("~/Views/Coordinator/_ApprovePaymentButton.cshtml", Model);
            }
        </div>
    </div>
</div>
