@using FreeLance.Controllers
@model FreeLance.Models.ContractModels

<div class="panel panel-default">
    <div class="panel-heading"><b>@Model.Problem.Name</b> <span class="pull-right">до: @Model.EndingDate.Date.ToShortDateString()</span></div>
    <div class="panel-body">
        
            <span class="left-category">Работодатель: </span>
            <span class="right-category"> <a>@Model.Problem.Employer.FIO </a>  </span> 
            <span class="left-category">Исполнитель: </span>
            <span class="right-category"><a> @Model.Freelancer.FIO </a> </span> <br/>
            <span class="left-category">Юрлицо: </span>
            <span class="right-category"> Абби Продакшен <a>Сменить</a> </span> <br/>
            <span class="left-category">Создан: </span>
            <span class="right-category">@Model.CreationDate.ToShortDateString()</span> 
        
    </div>
    <div class="panel-footer">
        <a class="btn btn-default">К контракту</a>
        <a class="btn btn-danger">Шаблон ГПХ</a>
       <a class="btn btn-success pull-right">Подтвердить</a>
    </div>
</div>
