@using FreeLance.Models
@model LoginViewModel
@{
	Layout = "";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Landing.css" rel="stylesheet" />
	<title>FreeLance - корпоративный аутсорсинг</title>
</head>
<body>
	<div id="content-wrapper">
	<div class="container">
	<div class="row main-zone">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1 id="main-heading">FreeLance</h1>
					<hr />
					<p id="main-subheader">Корпоративный аутсорсинг</p>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default">
				<section id="loginForm">
					@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						<h3>Вход</h3>
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							<label class = "col-md-2 control-label">email</label>
							<div class="col-md-10">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<label class = "col-md-2 control-label">Пароль</label>
							<div class="col-md-10">
								@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10">
								<div class="checkbox">
									@Html.CheckBoxFor(m => m.RememberMe)
									<label for="RememberMe">Запомнить</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10" id="login-button">
								<input type="submit" value="Войти" class="btn btn-primary" />
								<button class="btn btn-success btn-inline" type="button" onclick="location.href='@Url.Action("Register", "Account")'">Зарегистрироваться</button>
							</div>
							
						</div>
					}
				</section>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="links"></p>
					<p class="contacts">&copy; 2015 | <a href="mailto:andrew_an@abbyy.com">mail me</a></p>
				</div>
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script>
		$( function() {

		} );
	</script>
</body>
</html>
