@using FreeLance.Controllers
@model FreeLance.Controllers.CoordinatorController.LawContractTemplateView

<h2>Добавить ГПХ</h2>

@using (Html.BeginForm("AddLawContractTemplate", "Coordinator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.LawFace.Name, "Юрлицо", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.LawFace.Name)
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.File, "Файл Шаблона", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">            
                <input type="file" accept=".doc,.docx" name="LawContractTemplateView.File"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Название Шаблона", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Editor("LawContractTemplateView.Name")
            </div>
        </div>
        @Html.Hidden("LawContractTemplateView.LawFaceId", Model.LawFace.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-success" />
            </div>
        </div>

    </div>
}
