@model FreeLance.Controllers.CoordinatorController.EmployersViewModel
@{
    ViewBag.Title = "EmployerApprovationList";
	ViewBag.MenuPick = "Employers";
}

<div class="col-md-10">
	<h3>Ожидают подтверждения</h3>
	<div class="list-group">
		@if (Model.EmployersNotApproved.Count == 0)
		{
			<h5>Все заявки подтверждены. Отличная работа!</h5>
		}
		else
		{
			foreach (var employer in Model.EmployersNotApproved)
			{
				<div class="list-group-item">
					@using (Html.BeginForm("ChangeEmployerApprovalStatus", "Coordinator",
						new { employerId = employer.Id,
								isApproved = employer.IsApprovedByCoordinator,
								redirect = "Employers"
							}))
					{
						<input type="submit" value="Допустить в систему" class="pull-right btn btn-success" />
					}

					<h4 class="list-group-item-heading">@employer.FIO</h4>
					<p class="list-group-item-text" style="color:lightgray"><i>@employer.Email</i></p>
					<p class="list-group-item-text" style="color:lightgray"><i>@employer.PhoneNumber</i></p>
				</div>
			}
		}
	</div>
	<h3>Подтвержденные работодатели</h3>
	<div class="list-group">
		@if (Model.EmployersApproved.Count == 0)
		{
			<h5>Все заявки подтверждены. Отличная работа!</h5>
		}
		else
		{
			foreach (var employer in Model.EmployersApproved)
			{
				<div class="list-group-item">
					@using (Html.BeginForm("ChangeEmployerApprovalStatus", "Coordinator",
						new
						{
							employerId = employer.Id,
							isApproved = employer.IsApprovedByCoordinator,
							redirect = "Employers"
						}))
					{
						<input type="submit" value="Отказать в доступе" class="pull-right btn btn-danger" />
					}

					<h4 class="list-group-item-heading">@employer.FIO</h4>
					<p class="list-group-item-text" style="color:lightgray"><i>@employer.Email</i></p>
					<p class="list-group-item-text" style="color:lightgray"><i>@employer.PhoneNumber</i></p>
				</div>
			}
		}
	</div>
</div>