@using System.Web.UI.HtmlControls
@using FreeLance.Controllers
@using FreeLance.Models
@model FreeLance.Controllers.CoordinatorController.HomeViewModel
@{
    ViewBag.Title = "Личный кабинет";
    ViewBag.MenuPick = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinator's Home</title>
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("UnverifiedContracts", "Coordinator")"><h2>Новые контракты  <span class="badge">@Model.ContractsList.Count</span></h2> </a>
        @if (Model.ContractsList.Count == 0)
        {
            <p>Вы в курсе всех новых контрактов. </p>
        }
        else
        {
            var rangeCount = Model.ContractsList.Count > 1 ? 2 : 1;
            foreach (var contract in Model.ContractsList.GetRange(0, rangeCount))
             {
                 Html.RenderPartial("~/Views/Contract/SmallView.cshtml", contract);
             }
        }
        <a href="@Url.Action("UnpaidContracts", "Coordinator")"> <h2>Ожидают выплаты <span class="badge">@Model.ContractsToPay.Count</span></h2> </a>
        @if (Model.ContractsToPay.Count == 0)
        {
            <p> Нет контрактов, ожидающих выплаты.  </p>}
        else
        {
            foreach (var contract in Model.ContractsToPay.GetRange(0, 1))
            {
                Html.RenderPartial("~/Views/Contract/SmallView.cshtml", contract);
            }
        }
    </div>
    <div class="col-md-6">
        <h2>Новые работодатели <span class="badge">@Model.NewEmployers.Count</span> </h2>
        @if (Model.NewEmployers.Count == 0)
        {
            <p>Все работодатели подтверждены. Так держать! </p>
        }
        else
        {
            foreach (var employer in Model.NewEmployers.GetRange(0, 1))
            {
                Html.RenderPartial("~/Views/Employer/SmallViewCoordinatorHome.cshtml", employer);
            }
        }
        <h2>Новые пользователи <span class="badge">@Model.NewFreelancers.Count</span> </h2>
        @if (Model.NewFreelancers.Count == 0)
        {
            <p>Все новые фрилансеры подтверждены. Замечательно! </p>
        }
        else
        {
            foreach (var freelancer in Model.NewFreelancers.GetRange(0, 1))
             {
                 Html.RenderPartial("~/Views/Employer/SmallViewCoordinatorHome.cshtml", freelancer);
             }
        }
        <a href="@Url.Action("UnverifiedDocuments", "Coordinator")"><h2>Документы на проверку <span class="badge">@Model.DocumetsUnapproved.Count</span></h2></a>
        @if (Model.DocumetsUnapproved.Count == 0)
        {
            <p>Все документы фрилансеров подтверждены. Отличная работа!</p>}
        else
        {
            foreach (var doc in Model.DocumetsUnapproved.GetRange(0, 1))
            {
                Html.RenderPartial("~/Views/Freelancer/DocumentSmallView.cshtml", doc);
            }
        }
        <a href="@Url.Action("UnverifiedFeedback", "Coordinator")"><h2>Новые отзывы <span class="badge">@Model.ContractWithComments.Count</span></h2></a>
        @if (Model.ContractWithComments.Count == 0)
        {
            <p>Все отзывы прочитаны.</p>}
        else
        {
            foreach (var contract in Model.ContractWithComments.GetRange(0, 1))
            {
                Html.RenderPartial("~/Views/Comment/SmallViewCoordinator.cshtml", contract);
            }
        }
</div>
</div>
<hr/>
<script type="text/javascript">

    function onDropdownChangeContractLawFace(contractId) {
        var dropDownList = document.getElementById("dropDownListContract" + contractId);
        var lawFaceId = +dropDownList.options[dropDownList.selectedIndex].value;
        if (lawFaceId == -1)
            return;
        $.ajax({
            url: '@Url.Action("ChangeLawFaceInContract", "Coordinator")',
            type: 'POST',
            data: { "contractId": contractId, "lawFaceId": lawFaceId }
        });
    }


    function approveContract(contractId) {
        $.ajax({
            url: '@Url.Action("ApproveInContractByCoordinator", "Coordinator")',
            type: 'POST',
            data: { "contractId": contractId, "approvable" : "@CoordinatorController.Approvable.Contract" },
            dataType: "html",
            success: function (result) {
                window.location.href = "";
            }
        });
    }


    function checkContractIsApprovable(contractId) {
        var dropDownList = document.getElementById("dropDownListContract" + contractId);
        var lawFaceId = +dropDownList.options[dropDownList.selectedIndex].value;
        if (lawFaceId == -1) {
            alert("Не выбрано юрлица!");
            return;
        };
        $.ajax({
            url: '@Url.Action("CheckContractIsApprovable", "Coordinator")',
            type: 'POST',
            data: { "contractId": contractId },
            dataType: "html",
            success: function (result) {
                if (result != "OK") {
                    $("#modalContent" + contractId).html(result);
                    $("#modalDialog" + contractId).modal();
                } else {
                    approveContract(contractId);
                }
            }
        });
        return false;
    }

    function checkEmployerLawFace(employerId) {
        var dropDownList = document.getElementById("dropDownListEmployer" + employerId);
        var lawFaceId = dropDownList.options[dropDownList.selectedIndex].value;
        if (+lawFaceId == -1) {
            alert("Не выбрано юрлица!");
            return false;
        }
        else {
            return true;
}
    }

    function onDropdownChangeEmployerLawFace(employerId) {
        var dropDownList = document.getElementById("dropDownListEmployer" + employerId);
        var lawFaceId = dropDownList.options[dropDownList.selectedIndex].value;
        if (+lawFaceId == -1)
            return;
        $.ajax({
            url: '@Url.Action("ChangeLawFaceUser", "Coordinator")',
            type: 'POST',
            data: { "userId": employerId, "lawFaceId": lawFaceId }
        });
    }
</script>
