@model FreeLance.Controllers.CoordinatorController.HomeViewModel
@{
    ViewBag.Title = "Личный кабинет";
	ViewBag.MenuPick = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinator's Home</title>
</head>
<body>
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
        <h3>Анкеты на подтверждение</h3>
        <div class="list-group">
            @if (Model.Incognitos.Count == 0)
            {
                <h5>Все заявки подтверждены. Отличная работа!</h5>
            }
            else
            {
                foreach (var incognito in Model.Incognitos)
                {
                    <div class="list-group-item">
						@using (Html.BeginForm("EditRole", "Coordinator"))
						{ 
							<input type="hidden" name="usernameID" value=@incognito.Id />
							<input type="hidden" name="choosenRole" value="WithoutDocuments" />
							<input type="submit" value="Допустить в систему" class="pull-right btn btn-success" />
						}
						
                        <h4 class="list-group-item-heading">@incognito.FIO</h4>
                        <p class="list-group-item-text" style="color:lightgray"><i>@incognito.Email</i></p>
                        <p class="list-group-item-text" style="color:lightgray"><i>@incognito.PhoneNumber</i></p>
                    </div>
                }
            }
        </div>

        <h3>Документы на подтверждение</h3>
        <div class="list-group">
            @if (Model.WithoutDocuments.Count == 0)
			{
				<h5>У всех фрилансеров подтверждены документы. Отличная работа!</h5>
			}
			else
			{
				foreach (var withoutDoc in Model.WithoutDocuments)
				{
					<a class="list-group-item">
						<h4 class="list-group-item-heading">@withoutDoc.FIO</h4>
						<p class="list-group-item-text" style="color:lightgray"><i>@withoutDoc.Email</i></p>
						<p class="list-group-item-text" style="color:lightgray"><i>@withoutDoc.PhoneNumber</i></p>
					</a>
				}
			}
        </div>
    </div>
</body>
</html>
