@model FreeLance.Models.LawFace
@{
    ViewBag.Title = "Юрлицо";
}

<h2>LawFace</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Model.Name</h4>
        <div class="pull-right">
            @Html.ActionLink("Добавить Шаблон ГПХ", "AddLawContractTemplate", new { lawFaceId = @Model.Id }, new { @class = "btn btn-success", style = "color:white; display:inline-block" })
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var template in @Model.LawContractTemplates)
            {
                <li class="list-group-item">
                    <h5>@template.Name </h5>
                    <div><a href="@template.Path">@template.Name</a></div>
                    @Html.ActionLink("Посмотреть шаблон", "ViewFile", new { path = template.Path }, new { @class = "btn btn-primary" })
                    @if (template.IsActive)
                    {
                        @Html.ActionLink("Не использовать", "ToggleActiveLawContractTemplate", new { templateId = @template.Id }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Использовать", "ToggleActiveLawContractTemplate", new { templateId = @template.Id }, new { @class = "btn btn-success" })
                    }
                </li>
            }
        </ul>
    </div>
</div>