@model FreeLance.Controllers.CoordinatorController.LawFacesViewModel
@{
    ViewBag.Title = "Юрлица";
    ViewBag.MenuPick = "LawFaces";
}
<!DOCTYPE html>

<div class="col-md-10">
    <h2>Список юрлиц</h2><br/>

    <ul class="list-group">
        @foreach (var lawFaceView in Model.LawFaceViews)
        {
            <li class="list-group-item">
                <span class="list-group-item-heading"><h4>@lawFaceView.LawFace.Name</h4></span>
                <ul class="list-group">
                    @foreach (var template in lawFaceView.LawContractTemplates)
                    {

                        <li class="list-group-item">@Html.ActionLink(template.Name, "ViewFile", new {path = template.Path})
                            @if (template.Active)
                            {
                                <input type="checkbox" class="lawContractActive lawContractId-@template.Id pull-right" checked value="@template.Id"/>
                            }
                            else
                            {
                                <input type="checkbox" class="lawContractActive lawContractId-@template.Id pull-right" value="@template.Id" />
                            }
                        </li>

                    }

                    <li class="list-group-item ">
                        @Html.ActionLink("Добавить Шаблон ГПХ", "AddLawContractTemplate", new { lawFaceId = lawFaceView.LawFace.Id }, new { @class = "btn btn-success", style = "color:white;" })
                    </li>

                </ul>
                
              
            </li>
        }

        <li class="list-group-item ">
            @Html.ActionLink("Добавить Юрлицо", "LawFace", "Coordinator",  new {},  new { @class = "btn btn-success", style = "color:white;" })
        </li>
    </ul>

</div>
<script>
    $(".lawContractActive").click(function () {
        var id = $(this).val();
        $.ajax({
            url: '@Url.Action("ToggleActiveLawContractTemplate", "Coordinator")',
            type: 'POST',
            data: {"templateId" : +id },
            dataType: "json",
            success: function (result) {
                $(".lawContractActive.lawContractId-" + result.templateId).prop("checked", result.active);
            }
        });
    });
</script>

