@model FreeLance.Controllers.CoordinatorController.LawFacesViewModel
@{
    ViewBag.Title = "Юрлица";
    ViewBag.MenuPick = "LawFaces";
}
<!DOCTYPE html>

<div class="col-md-10">
    <h2>Список юрлиц</h2><br/>
    <ul>
        @foreach (var lawFaceView in Model.LawFaceViews)
        {
            <li>
                <span>@lawFaceView.LawFace.Name</span>
                <ul>
                    @foreach (var template in lawFaceView.LawContractTemplates)
                    {

                        <li>@Html.ActionLink(template.Name, "ViewFile", new {path = template.Path})
                           <input type="checkbox" class="lawContractActive lawContractId-@template.Id" checked="@template.Active.ToString().ToLower()" value="@template.Id"/>

                     </li>
                   
                    }

                </ul>
                @Html.ActionLink("Добавить Шаблон", "AddLawContractTemplate", new {lawFaceId = lawFaceView.LawFace.Id})

            </li>
        }
    </ul>
    @Html.ActionLink("Добавить Юрлицо", "LawFace", "Coordinator")
</div>
<script>
    $(".lawContractActive").click(function () {
        var id = $(this).val();
        $.ajax({
            url: '@Url.Action("ToggleActiveLawContractTemplate", "Coordinator")',
            type: 'POST',
            data: {"templateId" : +id },
            dataType: "json",
            success: function (result) {
                $(".lawContractActive.lawContractId-" + result.templateId).prop("checked", result.active);
            }
        });
    });
</script>

