@model FreeLance.Controllers.CoordinatorController.UploadViewModel
@{
	ViewBag.Title = "Загрузить ГПХ";
	ViewBag.MenuPick = "Upload";
}

<h2>Загрузка ГПХ</h2>
@using (Html.BeginForm("Upload", "Coordinator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.PostModel.File, "Путь к файлу", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept=".doc,.docx" name="UploadPostModel.File"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostModel.UserId, "Фрилансер", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UploadPostModel.UserId", 
                    new SelectList(Model.Freelancers, "Id", "Email"), 
                        new { htmlAttributes = new { @class = "form-control" } });
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostModel.LawContractTemplateId, "Шаблон", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UploadPostModel.LawContractTemplateId", 
                    new SelectList(Model.LawContractTemplates, "Id", "Id"), 
                        new { htmlAttributes = new { @class = "form-control" } });
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostModel.EndDate, "Дата истечения договора", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                <input type="date" name="UploadPostModel.EndDate"/>
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-success" />                
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
