@model IEnumerable<FreeLance.Controllers.FreelancerViewModel>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Исполнители";
	ViewBag.MenuPick = "Freelancers";
}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
	<style>
		td, th {
			text-align: center;
		}
	</style>
}

@section PageScripts{
	<!-- Include Raty JS file -->
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}

<div class="row">
	<div class="col-md-10">
		<h2>@ViewBag.Title</h2>
		@using (Html.BeginForm())
		{
			<p>
				@Html.TextBox("searchString")
				<input class="btn btn-info" type="submit" value="Поиск" />
			</p>
		}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>
						<a href=@Url.Action("Freelancers", "Employer",
							new { sortOrder = ViewBag.sortName })>
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							ФИО
						</a>
					</th>
					<th>
						<a href=@Url.Action("Freelancers", "Employer",
							new { sortOrder = ViewBag.sortEmail })>
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							Email
						</a>
					</th>
					<th>
						<a href=@Url.Action("Freelancers", "Employer",
							new { sortOrder = ViewBag.sortDone })>
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							Контрактов<br />закрыто
						</a>
					</th>
					<th>
						<a href=@Url.Action("Freelancers", "Employer",
							new { sortOrder = ViewBag.sortInProgress })>
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							Контрактов<br />в работе
						</a>
					</th>
					<th>
						<a href=@Url.Action("Freelancers", "Employer",
									new {sortOrder = ViewBag.sortRate})>
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							Рейтинг
						</a>
					</th>
					@if (User.IsInRole("Coordinator"))
					{
						<th>
							Подтвержден
						</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var freelancer in @Model)
			{
					<tr>
						<td>
							<a href="/Freelancer/Details/@freelancer.Id">
								@freelancer.Name
							</a>
						</td>
						<td>
							@freelancer.Email
						</td>
						<td>
							@freelancer.ClosedContractsCount
						</td>
						<td>
							@freelancer.OpenContractsCount
						</td>
						<td>
							<span class="stars" data-score=@freelancer.Rate.ToString().Replace(",", ".")></span>
						</td>
						@if (User.IsInRole("Coordinator"))
						{
							<td>
								@if (freelancer.Freelancer.IsApprovedByCoordinator.HasValue && freelancer.Freelancer.IsApprovedByCoordinator.Value)
								{
									<p>Да <a href=@Url.Action("ToggleApprove", "Coordinator", new {id = freelancer.Freelancer.Id, nextAction = "Freelancers"})>(Отменить) </a>
									</p>
								}
								else
								{
									<p>Нет <a href=@Url.Action("ToggleApprove", "Coordinator", new {id = freelancer.Freelancer.Id, nextAction = "Freelancers" })>(Подтвердить) </a>
									</p>
								}
							</td>
						}
					</tr>
			}
			</tbody>
		</table>
	</div>
</div>



<script>
	$(function () {
		$(".stars").each(function () {
			$(this).raty({
				path: "../../Content/images",
				readOnly: true,
				score: function () {
					return $(this).attr('data-score');
				}
			});
		});
	});
</script>


