@model FreeLance.Controllers.FreelancerController.DetailsForCoordinatorView


<style scoped>
	.buttons-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.btn-passport {
		margin-top: 5px;
		width: 100%;
	}

	.form-doc {
		padding: 5px;
		width: 100%;
	}
</style>


<div class="row">
    <div class="col-sm-9">
        <div class="col-xs-6">
			
            <a href="#" class="btn btn-default" style="margin-top: 5px; width: 100%">Сменить документы</a>
            <a href="#" class="btn btn-default" style="margin-top: 5px; width: 100%">Сменить фото</a>
            <a href="/Manage/ChangePassword" class="btn btn-default" style="margin-top: 5px; width: 100%">Задать пароль</a>

            <h3>Паспортные данные:</h3>

            <p>
                <i><b>Номер паспорта:</b></i> <span> @Model.Passport.SerialNumber</span>
            </p>
            <p>
                <i><b>Дата выдачи:</b></i> <span>@Model.Passport.Date</span>
            </p>
            <p>
                <i><b>Выдан:</b></i> <span>@Model.Passport.OfficeName</span>
            </p>
            <p>
                <i><b>Код подразделения:</b></i> <span>@Model.Passport.OfficeCode</span>
            </p>
            <p>
                <i><b>Дата рождения:</b></i> <span>@Model.Passport.BirthDate</span>
            </p>
            <p>
                <i><b>Место рождения:</b></i> <span>@Model.Passport.BirthPlace</span>
            </p>
            <p>
                <i><b>Зарегистрирован:</b></i> <span>@Model.Passport.Address</span>
            </p>

            <h3>Банковские реквизиты:</h3>
            <p>
                <i><b>Лицевой счет:</b></i> <span>@Model.Bank.Account</span>
            </p>
            <p>
                <i><b>БИК:</b></i> <span>@Model.Bank.BIC</span>
            </p>
            <p>
                <i><b>Корсчет:</b></i> <span>@Model.Bank.CorrespondentAccount</span>
            </p>
            <p>
                <i><b>Расчетный счет:</b></i> <span>@Model.Bank.PC</span>
            </p>
			@if (@Model.PhotoFirstPage == null)
			{
				<a href="@Model.PhotoFirstPage" class="btn btn-default btn-passport disabled">Фото первой страницы</a>
			}
			else
			{
				<a href="@Model.PhotoFirstPage" class="btn btn-default btn-passport">Фото первой страницы</a>
			}
            @if (@Model.PhotoAdress == null)
			{
				<a href="@Model.PhotoAdress" class="btn btn-default btn-passport disabled">Фото прописки</a>
			}
			else
			{
				<a href="@Model.PhotoAdress" class="btn btn-default btn-passport">Фото прописки</a>
			}
			
            <div class="buttons-container">
				@if (!Model.DocumentsIsApproved)
				{

					using (Html.BeginForm("ApproveDocuments", "Coordinator", new { docId = Model.DocumentsId, value = true }, FormMethod.Post, new { @class = "form-doc" }))
                    {
						<input type="submit" value="Одобрить" class="btn btn-primary" style="max-width:inherit; width: 100%"/>
					}
					using (Html.BeginForm("ApproveDocuments", "Coordinator", new { docId = Model.DocumentsId, value = false}, FormMethod.Post, new { @class = "form-doc" }))
					{
						<input type="submit" value="Отклонить" class="btn btn-default" style="max-width:inherit; width: 100%"/>
					}

				}
				else
				{
					using (Html.BeginForm("ApproveDocuments", "Coordinator", new { docId = Model.DocumentsId, value = false}, FormMethod.Post, new { @class = "form-doc" }))
					{
						<input type="submit" value="Отменить подтверждение" class="btn btn-danger" style="max-width:inherit; width: 100%"/>
					}
				}
			</div>
        </div>

        <div class="col-xs-6">
            <a href="@Url.Action("UploadSignedLawContract", "Coordinator")"
               class="btn btn-primary pull-right"
               style="margin-top: 5px;">
                <span class="glyphicon glyphicon-ok"></span>
                Загрузить ГПХ
            </a>

            <h3>ГПХ:</h3>
            @if (Model.ProfileView.LawContracts.Count() == 0)
            {
                <span>Пока не заключено ни одного ГПХ</span>
            }
            else
            {
                foreach (var lawcontract in Model.ProfileView.LawContracts)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <span>@lawcontract.LawFace</span>
                            </p>
                            <p>
                                <i class="flaticon-calendar68"></i>
                                <i><b>Заключен:</b></i> <span>@lawcontract.StartingDate</span>
                            </p>
                            <p>
                                <i class="flaticon-calendar68"></i>
                                <i><b>Действует до:</b></i> <span>@lawcontract.EndingDate</span>
                            </p>
                            
                            <a href="#" class="btn btn-default pull-left" role="button">Аннулировать</a>
                            <a href="@Url.Action("DownloadSignedLawContract", "Coordinator", new { LawContractPath = lawcontract.LawFacePath })" 
                                class="btn btn-primary pull-right">
                                Скачать
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
