@model FreeLance.Controllers.FreelancerController.DetailsForCoordinatorView
@using Microsoft.AspNet.Identity

<div class="row">
    <div class="col-md-11 info-block-inside">
        @foreach (var contract in Model.ClosedContracts)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>@contract.ProblemName<span class="stars pull-right" data-score=@contract.Rate.ToString().Replace(",",".")></span></b>
                </div>
                <div class="panel-body">
                    <p>@contract.Comment</p>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            Работодатель:
                            <a href="/Employer/Details/@contract.EmployerId">@contract.EmployerName</a>
                        </td>
                        <td>
                            Стоимость: @contract.Cost <span class="flaticon-ruble"></span>
                        </td>
                        <td>Работа: @contract.WorkMessage</td>
                    </tr>
                    <tr>
                        <td>Начата: @contract.CreationDate</td>
                        <td>Завершена: @contract.EndingDate</td>
                        <td>Срок: @contract.DeadlineDate</td>
                    </tr>
                </table>
                <div class="panel-body">
                    <a href="/Problem/Details/@contract.ProblemId" class="btn btn-default pull-right to-problem-btn" role="button">К задаче</a>
                    @if (User.Identity.GetUserId() == contract.EmployerId)
                    {
                        <a href="/Contract/Details/@contract.ContractId" class="btn btn-default pull-right" role="button">К контракту</a>
                    }

                    <a class="btn btn-default pull-right" style="margin-right: 3px;">Корректировать текст</a>
                    <a class="btn btn-info pull-right" style="margin-right: 3px;"><span class="glyphicon glyphicon-ok"></span>Опубликовать</a>
                </div>
            </div>
        }
    </div>
</div>

<script>
	$(function () {
		$(".stars").each(function () {
			$(this).raty({
				path: "../../Content/images",
				readOnly: true,
				score: function () {
					return $(this).attr('data-score');
				}
			});
		});
	});
</script>

