@model FreeLance.Controllers.FreelancerController.DetailsForCoordinatorView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.General.Surname + " " + Model.General.Name;
}

@functions{
    public String getActiveClass(String name)
    {
        if (Model.info == name)
        {
            return "active";
        }
        return "";
    }
}

@section css {
    <link rel="stylesheet" href="~/Content/jquery.raty.css">
}

@section PageScripts{
    <!-- Include Raty JS file -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}

<div class="row">
    <div class="col-md-2">
        <img src="@Model.PhotoPath" class="img-thumbnail" style="margin-top: 20px;">
    </div>
    <div class="col-md-10">
        <h2><strong>@Model.General.Surname @Model.General.Name</strong></h2>
        @if (Model.General.Phone != null)
        {
            <p>@Model.General.Phone</p>
        }
        <p>@Model.General.Email</p>

        <div class="stars" data-score=@Model.FreelancerRate.ToString().Replace(",", ".")></div>
        <div class="row">
            @using (Html.BeginForm("ApproveUserByCoordinator", "Coordinator", new { userId = Model.FreelancerId, value = false },
            FormMethod.Post, new { style = "display:inline-block; margin: 5px; " }))
            {
                <input type="submit" value="Заблокировать" class="btn btn-default" />
            }
            @if (!Model.isApproved)
            {
                using (Html.BeginForm("ApproveUserByCoordinator", "Coordinator", new { userId = Model.FreelancerId, value = true },
                FormMethod.Post, new { style = "display:inline-block; margin: 5px;" }))
                {
                    <input type="submit" value="Допустить в систему" class="btn btn-info" />
                }
            }

        </div>

    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
        <li role="presentation" class="@getActiveClass("profile")">
            <a href="@Url.Action("Details", "Freelancer", new {id = Model.FreelancerId, info = "profile"})">Профиль</a>
        </li>
        <li role="presentation" class="@getActiveClass("problems")">
            <a href="@Url.Action("Details", "Freelancer", new {id = Model.FreelancerId, info = "problems"})">Задачи</a>
        </li>
        <li role="presentation" class="@getActiveClass("comments")">
            <a href="@Url.Action("Details", "Freelancer", new {id = Model.FreelancerId, info = "comments"})">Отзывы</a>
        </li>
    </ul>
</div>

@switch (Model.info)
{
    case "profile":
        Html.RenderPartial("_DetailsForCoordinatorProfile", Model);
        break;
    case "problems":
        Html.RenderPartial("_DetailsForCoordinatorProblems", Model);
        break;
    case "comments":
        Html.RenderPartial("_DetailsForCoordinatorComments", Model);
        break;
}

@{
    <script>
        $(function () {
            $(".stars").each(function () {
                $(this).raty({
                    path: "../../Content/images",
                    readOnly: true,
                    score: function () {
                        return $(this).attr('data-score');
                    }
                });
            });
        });
    </script>
}
     