@model List<FreeLance.Controllers.FreelancerController.ArchivedContractViewModel>
@{
	ViewBag.Title = "Архив";
	ViewBag.MenuPick = "Archive";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		th, td {
			text-align: center;
		}
	</style>

}

@section PageScripts{
	<!-- Include Raty JS file -->
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}

<div class="row">
	<div class="col-md-10">
		<h2>Архив контрактов:</h2>
		<p>
			<a href=@Url.Action("Archive", "Freelancer",
				new { sortOrder = ViewBag.sortCost }) class="btn btn-primary">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По стоимости
			</a>
			<a href=@Url.Action("Archive", "Freelancer",
				new { sortOrder = ViewBag.sortName }) class="btn btn-primary">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По имени
			</a>
			<a href=@Url.Action("Archive", "Freelancer",
				new { sortOrder = ViewBag.sortCreationDate }) class="btn btn-primary">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате создания
			</a>
			<a href=@Url.Action("Archive", "Freelancer",
				new { sortOrder = ViewBag.sortEndingDate }) class="btn btn-primary">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате сдачи
			</a>
			@if (ViewBag.hideFailed)
			{
				<input id="hideFailed" type="checkbox" checked>
			}
			else
			{
				<input id="hideFailed" type="checkbox">
			}
			Скрыть расторгнутые
		</p>
		<div>
			@foreach (var contract in Model)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>
							@contract.ProblemName
							<span class="stars pull-right" data-score=@contract.Rate.ToString().Replace(",",".")></span>
						</b>
					</div>
					<div class="panel-body">
						<p>@Truncate(contract.Details, 200)</p>
					</div>
					<table class="table">
						<tr>
							<td>
								Заказчик:
								<a href="/Employer/Details/@contract.EmployerId">@contract.EmployerName</a>
							</td>
							<td>
								Стоимость: @contract.Cost <span class="flaticon-ruble"></span>
							</td>
							<td>Работа: @contract.StatusMessage</td>
						</tr>
						<tr>
							<td>Начата: @contract.CreationDate.ToString("dd/MM/yyyy")</td>
							<td>Завершена: @contract.EndingDate.ToString("dd/MM/yyyy")</td>
							<td>Срок: @contract.DeadlineDate.ToString("dd/MM/yyyy")</td>
						</tr>
					</table>
					<div class="panel-body">
						<a href="/Contract/Details/@contract.ContractId" class="btn btn-primary pull-right" role="button">Подробнее</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>


<script>
		$(function () {
			$(".stars").each(function () {
				$(this).raty({
					path: "../../Content/images",
					readOnly: true,
					score: function () {
						return $(this).attr('data-score');
					}
				});
			});
		});

		$('#hideFailed').click(function () {
			var $this = $(this);
			if ($this.is(':checked')) {
				window.location.search = '?hideFailed=true';
			} else {
				window.location.search = '?hideFailed=false';
			}
		});


</script>

