@* @model FreeLance.Models.ContractModels *@
@* @model IEnumerable<FreeLance.Models.ContractModels> *@

@model FreeLance.Controllers.FreelancerController.HomeView

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>

        <h3>Контракты</h3>
        <table class="table">

            @if (Model.Contracts.Any())
            {
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Contracts[0].ContractId)</th>
                    <th>@Html.DisplayNameFor(model => model.Contracts[0].Details)</th>
                    <th>@Html.DisplayNameFor(model => model.Contracts[0].Problem)</th>
                    <th>@Html.DisplayNameFor(model => model.Contracts[0].Status)</th>
                </tr>}

            @foreach (var item in Model.Contracts)
            {
                <tr>
                    <td>@Html.ActionLink(item.ContractId.ToString(), "Details", "Contract", new { id = item.ContractId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                    <td>@Html.ActionLink(item.Problem.Name, "Details", "Problem", new { id = item.Problem.ProblemId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                </tr>}

        </table>

        <h3>Мои открытые задачи</h3>
        <table class="table">

            @if (Model.Problems.Any())
            {
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Problems[0].Contracts)</th>
                    <th>@Html.DisplayNameFor(model => model.Problems[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Problems[0].Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Problems[0].ProblemId)</th>
                    <th>@Html.DisplayNameFor(model => model.Problems[0].Status)</th>
                </tr>}

            @foreach (var item in Model.Problems)
            {
                <tr>
                    <td>
                        @foreach (var contract in item.Contracts)
                        {
                            <p>@Html.ActionLink(contract.Details, "Details", "Contract", new { id = contract.ContractId }, null)</p>
                        }
                    </td>
                    <td>@Html.ActionLink(item.Name, "Details", "Problem", new { id = item.ProblemId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProblemId)</td>
                    <th>@Html.DisplayFor(modelItem => item.Status)</th>
                </tr>}

        </table>

