@* @model FreeLance.Models.ContractModels *@
@* @model IEnumerable<FreeLance.Models.ContractModels> *@

@model FreeLance.Controllers.FreelancerController.HomeView

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>
@if (Model.Contracts.Any())
{
    <h3>Мои открытые контракты</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Задача</th>
            <th>Описание</th>
            <th>Заказчик</th>
            <th>Статус</th>
        </tr>

        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>@Html.ActionLink(item.Problem.Name, "Details", "Contract", new {id = item.ContractId}, null)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>@Html.DisplayFor(modelItem => item.Problem.Employer.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
            </tr>
        }

    </table>
}
else
{
    <p>Открытых контрактов нет.</p>
}

@if (Model.Problems.Any())
{
    <h3>Мои подписки</h3>
    <table class="table table-striped table-bordered">

        <tr>
            <th>Задача</th>
            <th>Описание</th>
            <th>Заказчик</th>
            <th>Статус</th>
        </tr>

        @foreach (var item in Model.Problems)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", "Problem", new {id = item.ProblemId}, null)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Employer.UserName)</td>
                <th>@Html.DisplayFor(modelItem => item.Status)</th>
            </tr>
        }

    </table>
}
else
{
    <p>Подписок нет.</p>
}

