@model FreeLance.Controllers.FreelancerController.HomeViewModel
@{
	ViewBag.Title = "Личный кабинет";
	ViewBag.MenuPick = "Home";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		.text-info-in-panel {
			margin-left: 5px;
		}
	</style>
}


<div class="row">
	<div class="col-md-9">
		<div class="col-md-6">
			<h3>Мои контракты:</h3>
			@foreach (var contract in Model.ContractsInWork)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>@contract.Name<span class="flaticon-question41 pull-right"></span></b>
					</div>
					<div class="panel-body">
						<P>
							<b>@contract.Author</b>
						</P>
						<p>
							<i class="flaticon-calendar68"></i>
							@contract.Deadline
						</p>
						<div>
							<i class="flaticon-comments16"></i> <span class="badge">@contract.CommentNumber</span>
							<a href="/Contract/Details/@contract.ContractId" class="btn btn-primary pull-right" role="button">К контракту</a>
						</div>
					</div>
				</div>
			}

			<hr>

			@foreach (var contract in Model.ContractsPending)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>@contract.Name<span class="flaticon-question41 pull-right"></span></b>
					</div>
					<div class="panel-body">
						<P>
							<b>@contract.Author</b>
						</P>
						<p>
							<i class="flaticon-calendar68"></i>
							@contract.Deadline
						</p>
						<div>
							<i class="flaticon-comments16"></i> <span class="badge">@contract.CommentNumber</span>
							<a href="/Contract/Details/@contract.ContractId" class="btn btn-primary pull-right" role="button">К контракту</a>
						</div>
					</div>
				</div>
			}

			<hr>

			@foreach (var contract in Model.ContractsWaitingMoney)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>@contract.Name<span class="flaticon-question41 pull-right"></span></b>
					</div>
					<div class="panel-body">
						<P>
							<b>@contract.Author</b>
						</P>
						<p>
							<i class="flaticon-calendar68"></i>
							@contract.Deadline
						</p>
						<div>
							<i class="flaticon-comments16"></i> <span class="badge">@contract.CommentNumber</span>
							<a href="/Contract/Details/@contract.ContractId" class="btn btn-primary pull-right" role="button">К контракту</a>
						</div>
					</div>
				</div>
			}
		</div>

		<div class="col-md-6">
			<h3>Мои подписки:</h3>
			@foreach (var problem in Model.Problems)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>@problem.Name</b>
					</div>
					<div class="panel-body">
						<P>
							<b>@problem.ShortDescription</b>
						</P>
						<p>
							<b class="pull-right">Подписчиков: @problem.Others</b>
							@problem.Money<span class="flaticon-ruble"></span>
						</p>
						<div>
							<i class="flaticon-comments16"></i> <span class="badge">@problem.CommentNumber</span>
							<a href="/Problem/Details/@problem.ProblemId" class="btn btn-primary pull-right" role="button">К контракту</a>
						</div>
					</div>
				</div>
			}
		</div>
</div>
