@* @model FreeLance.Models.ContractModels *@
@* @model IEnumerable<FreeLance.Models.ContractModels> *@

@model FreeLance.Controllers.FreelancerController.HomeView

@{
    ViewBag.Title = "Личный кабинет";
}

<div class="col-md-10">
	<h2>@ViewBag.Title</h2>
	<h3>Мои открытые контракты</h3>
	@if (Model.Contracts.Any())
	{
		<div class="list-group">
			@foreach (var contract in Model.Contracts)
			{
				if (@contract.Status == FreeLance.Models.ContractStatus.Done)
				{
					<style scoped>
						.status {
							color: green;
						}
					</style>
				}
				else if (@contract.Status == FreeLance.Models.ContractStatus.InProgress ||
					@contract.Status == FreeLance.Models.ContractStatus.Opened)
				{
					<style scoped>
						.status {
							color: royalblue;
						}
					</style>

				}
				else
				{
					<style scoped>
						.status {
							color: red;
						}
					</style>
				}
				<a href="/Contract/Details/@contract.ContractId" class="list-group-item">
					<h4 class="list-group-item-heading">@contract.Problem.Name <small class="status">@contract.Status</small></h4>
					<p class="list-group-item-text"> @contract.Details</p>
				</a>
			}
		</div>
	}
	else
	{
		<p>Открытых контрактов нет.</p>
	}

	<h3>Мои подписки</h3>
	@if (Model.Problems.Any())
	{
		<div class="list-group">
			@foreach (var problem in Model.Problems)
			{
				if (@problem.Status == FreeLance.Models.ProblemStatus.Opened)
				{
					<style scoped>
						.status {
							color: green;
						}
					</style>
				}
				else if (@problem.Status == FreeLance.Models.ProblemStatus.InProgress)
				{
					<style scoped>
						.status {
							color: royalblue;
						}
					</style>

				}
				else
				{
					<style scoped>
						.status {
							color: red;
						}
					</style>
				}
				<a href="/Contract/Details/@problem.ProblemId" class="list-group-item">
					<h4 class="list-group-item-heading">@problem.Name <small class="status">@problem.Status</small></h4>
					<p class="list-group-item-text">@problem.Description</p>
				</a>
			}
		</div>
	}
	else
	{
		<p>Подписок нет.</p>
	}
</div>
