@model IEnumerable<FreeLance.Models.ProblemModels>
@{
    ViewBag.Title = "Open";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-10">
        <h3>Биржа. Открытые задачи.</h3>
        <table class="table">

            <tr>
                <th>@Html.DisplayNameFor(model => model.Contracts)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.ProblemId)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (var contact in item.Contracts)
                        {
                            @Html.DisplayFor(modelItem => contact.ContractId)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProblemId)</td>
                    <th>@Html.DisplayFor(modelItem => item.Status)</th>
                </tr>}

        </table>
    </div>
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">@Html.ActionLink("Личный кабинет", "Home", "Freelancer")</li>
            <li role="presentation" class="active">@Html.ActionLink("Биржа", "Open", "Freelancer")</li>
            <li role="presentation">@Html.ActionLink("Архив", "Archive", "Freelancer")</li>
        </ul>
    </div>
</div>
