@model IEnumerable<FreeLance.Models.ProblemModels>
@{
    ViewBag.Title = "Open";
}

<h2>Биржа</h2>
<p>Задачи, которые Вы, как фрилансер, можете выполнить.</p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Задача</th>
                <th>Описание</th>
                <th>Заказчик</th>
                <th>Статус</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Name, "Details", "Problem", new { id = item.ProblemId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Employer.UserName)</td>
                    <th>@Html.DisplayFor(modelItem => item.Status)</th>
                </tr>
            }

        </table>
