@model FreeLance.Controllers.FreelancerController.OpenProblemsInfo
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Биржа";
}

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		.info-block {
			text-align: center;
			padding-top: 6px;
			font-size: medium;
		}

		.head-info {
			font-size: large;
		}

		.btn-details {
			text-align: right;
			float: right;
			margin-right: 5px;
		}

		.panel-footer {
			padding: 4px 15px;
		}

		.flaticon-ruble-big:before {
			font-size: 15px;
		}
	</style>
}

<div class="row">
	<div class="col-md-10">
		<h2>Задачи:</h2>
		<p>
			<a href=@Url.Action("OpenProblems", "Freelancer",
				new { sortOrder = "cost", lastSort = Model.lastSort}) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По стоимости
			</a>
			<a href=@Url.Action("OpenProblems", "Freelancer",
				new { sortOrder = "creationDate", lastSort = Model.lastSort}) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате создания
			</a>
			<a href=@Url.Action("OpenProblems", "Freelancer",
						new {sortOrder = "deadlineDate", lastSort = Model.lastSort}) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате сдачи
			</a>
			<a href=@Url.Action("OpenProblems", "Freelancer",
				new { sortOrder = Model.lastSort, lastSort = Model.lastSort, showSubscriptionsParam = Model.showSubscriptions == null? "show" : null }) class="btn btn-info">
				@if (Model.showSubscriptions == null)
				{
					<span>Показать подписки</span>
				}
				else
				{
					<span>Спрятать подписки</span>
				}
			</a>
		</p>
		<div>
			@foreach (var problem in Model.openProblems)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="head-info">
							@problem.ProblemName
							<span class="pull-right">
								@problem.Cost
								<span class="flaticon-ruble-big"></span> на @problem.AmountOfWorkers исполнителей
							</span>
						</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p>@Truncate(problem.ProblemShortDescription, 600)</p>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-2 info-block">
								<a href="/Employer/Details/@problem.EmployerId">@problem.EmployerName</a>
							</div>
							<div class="col-md-3 info-block">
								Создана: @problem.CreationDate.ToString("dd/MM/yyyy")
							</div>
							<div class="col-md-3 info-block">
								Срок: @problem.DeadlineDate.ToString("dd/MM/yyyy")
							</div>
							<div class="btn-details">
								<a href="/Problem/Details/@problem.ProblemId" class="btn btn-info" role="button">Подробнее</a>
							</div>
							<div class="btn-details">
								@if (Model.isApproved)
								{
									if (problem.IsSubscribed)
									 {
										 <div class="text-success">
											 Подписан
										 </div>
									 }
									 else
									 {
										 using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
										 {
											 <input name="id" type="hidden" value="@problem.ProblemId"/>
											 <input type="submit" class="btn btn-success pull-right" value="Подписаться"/>}
									}
								}
								else
								{
									<div class="text-danger">
										Заполните документы!
									</div>
}
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

