@model FreeLance.Controllers.FreelancerController.ProblemsView
@{
    ViewBag.Title = "Подробная информация об исполнителе. Задачи";
}

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@section css {
    <link rel="stylesheet" href="~/Content/jquery.raty.css">
}

@section PageScripts{
    <!-- Include Raty JS file -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}


<div class="row">
    <div class="col-md-2">
        <img src="~/Files/profile_pic.jpg" class="img-thumbnail" style="margin-top: 20px;">
    </div>
    <div class="col-md-10">
        <h2><strong>@Model.freelancer.FIO</strong></h2>
        @if (Model.freelancer.PhoneNumber != null)
        {
            <p>@Model.freelancer.PhoneNumber</p>
        }
        <p>@Model.freelancer.Email</p>

        <div class="stars" data-score=@Model.Rate.ToString().Replace(",",".")></div>

    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/Freelancer/Details/@Model.freelancer.Id">Профиль</a></li>
        <li role="presentation" class="active"><a href="#">Задачи</a></li>
        <li role="presentation"><a href="/Freelancers/Reviews">Отзывы</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-9">
        <div class="col-xs-6">
            <h3>Ожидают выплаты:</h3>
            @if (Model.UnpaidContracts.Count == 0)
            {
                <h5>Все выполненные контракты оплачены!</h5>
            } else
            { 
                foreach (var contract in Model.UnpaidContracts)
			    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>@contract.Name</b>
                            <b>@contract.Cost</b>
                        </div>
                        <div class="panel-body">
                            <p><i><b>Работодатель:</b></i> <a style="padding-left:5px" href="/Employer/Details/@contract.EmployerId">@contract.EmployerName</a></p>
                            <p><i><b>Юр лицо:</b></i> <a style="padding-left:5px">ООО "Аби продакшн"</a></p>
                            <a>сменить</a>
                            <p>
                                <i><b>Завершен: @contract.EndingDate</b></i>
                                <span class="pull-right"><b>@contract.Cost</b><span class="flaticon-ruble"></span> </span>
                            </p>
                        
                            <div>
                                <a href="/Contract/Details/@contract.ContractId" class="btn btn-info pull-right" role="button">К контракту</a>
                                <a href="/Contract/Details/@contract.ContractId" class="btn btn-info pull-right" role="button">Выплата произведена</a>
                            </div>
                        </div>
                    </div>
			    }
            }
        </div>
        <div class="col-xs-6">
            <h3>В работе:</h3>
            @if (Model.OpenContracts.Count == 0)
            {
                <h5>Нет контрактов на исполнении.</h5>
            } else
            { 
                foreach (var contract in Model.OpenContracts)
			    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>@contract.Name</b>
                        </div>
                        <div class="panel-body">
                            <p>
                                <i class="flaticon-calendar68"></i>
                                <i><b>До:</b></i> <span>@contract.EndingDate</span>
                                <span class="pull-right"><b>@contract.Cost</b><span class="flaticon-ruble"></span> </span>
                            </p>
                            <p><i><b>Работодатель:</b></i> <a style="padding-left:5px" href="/Employer/Details/@contract.EmployerId">@contract.EmployerName</a></p>
                            <p>
                                <i><b>Юр лицо:</b></i> <span>ООО "Аби продакшн"</span> 
                                <a>(сменить)</a>
                            </p> 
                            <div>
                                <a href="/Contract/Details/@contract.ContractId" class="btn btn-info pull-right" role="button">К контракту</a>
                            </div>
                        </div>
                    </div>
			    }
            }
        </div>
    </div>
</div>

<div class="col-sm-9">
    @if (Model.SubscribedProblems.Count != 0)
    {
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        <a href=@Url.Action("Problems", "Freelancer",
             new { sortOrder = ViewBag.sortName })>
                            Задача
                        </a>
                    </th>
                    <th>
                        <a href=@Url.Action("Problems", "Freelancer",
             new { sortOrder = ViewBag.sortEmployer })>
                            Работодатель
                        </a>
                    </th>
                    <th>
                        <a href=@Url.Action("Problems", "Freelancer",
             new { sortOrder = ViewBag.sortCost })>
                            Цена
                        </a>
                    </th>
                    <th>
                        <a href=@Url.Action("Problems", "Freelancer",
             new { sortOrder = ViewBag.sortEndDate })>
                            Срок
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var problem in @Model.SubscribedProblems)
                {
                    <tr>
                        <td>
                            <a href="/Problem/Details/@problem.ProblemId">
                                @problem.Name
                            </a>
                        </td>
                        <td>
                            @problem.EmployerName
                    </td>
                    <td>
                        @problem.Cost
                    </td>
                    <td>
                        @problem.EndingDate
                    </td>
                </tr>}
            </tbody>
        </table>
    }
</div>

@{
    <script>
        $(function () {
            $(".stars").each(function () {
                $(this).raty({
                    path: "../../Content/images",
                    readOnly: true,
                    score: function () {
                        return $(this).attr('data-score');
                    }
                });
            });
        });
    </script>
}

