@model FreeLance.Models.ProblemModels
@{
    ViewBag.Title = "Open problem";
}

<div>
    <h4>Problem Info</h4>
    <hr />

    <a href="@Url.Action("Details", "Contract")">
        <button style="margin-left: 80px;" type="button" class="btn btn-success btn-lg">Подписаться на задачу</button>
    </a>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Back to List", "OpenProblems")
</p>

