@model List<FreeLance.Controllers.EmployerController.ArchivedContractViewModel>
@{
    ViewBag.Title = "Архив";
	ViewBag.MenuPick = "Archive";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	
}

@section PageScripts{
	<!-- Include Raty JS file -->
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}

<div class="row">
	<div class="col-sm-10">
		<h2>Архив контрактов:</h2>
		<div>
			<a href=@Url.Action("Archive", "Employer",
				new { sortOrder = ViewBag.sortCost }) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По стоимости
			</a>
			<a href=@Url.Action("Archive", "Employer",
				new { sortOrder = ViewBag.sortName }) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По имени
			</a>
			<a href=@Url.Action("Archive", "Employer",
				new { sortOrder = ViewBag.sortCreationDate }) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате создания
			</a>
			<a href=@Url.Action("Archive", "Employer",
				new { sortOrder = ViewBag.sortEndingDate }) class="btn btn-info">
				<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				По дате сдачи
			</a>
			@if (ViewBag.hideFailed)
			{
				<input id="hideFailed" type="checkbox" checked>
            }
			else
			{
				<input id="hideFailed" type="checkbox"> 
            }
			Скрыть расторгнутые
		</div>
		<div>
			@foreach (var contract in Model)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>
							@contract.ProblemName
							<span class="stars pull-right" data-score=@contract.Rate.ToString().Replace(",",".")></span>
						</b>
					</div>
					<div class="panel-body">
						<p><i> @Truncate(contract.Details, 200)</i></p>

						<table class="table">
							<tr>
								<td>
									Исполнитель:
									<a href="/Freelancer/Details/@contract.FreelancerId">@contract.FreelancerName</a>
								</td>
								<td>
									Стоимость: @contract.Cost рублей
								</td>
								<td>Работа: @contract.StatusMessage</td>
							</tr>
							<tr>
								<td>Начата: @contract.CreationDate.ToString("dd/MM/yyyy")</td>
								<td>Завершена: @contract.EndingDate.ToString("dd/MM/yyyy")</td>
								<td>Срок: @contract.DeadlineDate.ToString("dd/MM/yyyy")</td>
							</tr>
						</table>
						<a href="/Contract/Details/@contract.ContractId" class="btn btn-info pull-right" role="button">Подробнее</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>


	<script>
		$(function () {
			$(".stars").each(function () {
				$(this).raty({
					path: "../../Content/images",
					readOnly: true,
					score: function () {
						return $(this).attr('data-score');
					}
				});
			});
		});
		 
		$('#hideFailed').click(function () {
			var $this = $(this);
			if ($this.is(':checked')) {
				window.location.search = '?hideFailed=true';
			} else {
				window.location.search = '?hideFailed=false';
			}
		});

		
	</script>

