@model IEnumerable<FreeLance.Controllers.EmployerController.FreelancerViewModel>
@{
    ViewBag.Title = "Все исполнители";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-10">
		<div class="list-group">
			@foreach( var freelancer in @Model )
			{
				<a href="#" class="list-group-item">@freelancer.Name</a>
			}
		</div>
	</div>
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation">@Html.ActionLink("Личный кабинет", "Home", "Employer")</li>
			<li role="presentation">@Html.ActionLink("Архив контрактов", "Archive", "Employer")</li>
			<li role="presentation" class="active">@Html.ActionLink("Исполнители", "Freelancers", "Employer")</li>
		</ul>
	</div>
</div>