@model FreeLance.Controllers.EmployerController.HomeViewModel
@{
	ViewBag.Title = "Личный кабинет";
	ViewBag.MenuPick = "Home";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/flaticon.css">
	<style>
		.text-info-in-panel {
			margin-left: 5px;
		}
	</style>
}


<div class="row">
	<div class="col-md-9">
		<div class="col-md-6">
			<h3>В работе:</h3>

			@foreach (var problem in Model.ProblemsInProgress)
			{
				foreach (var contract in problem.Contracts)
				{
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>@problem.Name<span class="@contract.StatusIcon pull-right"></span></b>
						</div>
						<div class="panel-body">
							<p>
								<i class="flaticon-calendar68"></i>
								@contract.CreationDate - @contract.EndingDate
								<span class="pull-right"><b>@contract.Cost</b><span class="flaticon-ruble"></span> </span>
							</p>
							<p><b>Исполнитель:</b><a class="text-info-in-panel" href="/Freelancer/Details/@contract.freelancerId">@contract.FIO</a></p>

							<div>
								<i class="flaticon-comments16"></i> <span class="badge">@contract.newMsgCount</span>
								<a href="/Contract/Details/@contract.id" class="btn btn-info pull-right" role="button">К контракту</a>
							</div>
						</div>
					</div>
				}
			}
		</div>
		<div class="col-md-6">
			<h3>Поиск исполнителей:</h3>
			@foreach (var problem in Model.ProblemsOpen)
			{
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>@problem.Name</b>
					</div>
					<div class="panel-body">
						<p>
							<b>@problem.SubscribersCount подписчиков</b>
							<span class="pull-right"><b>@problem.Cost</b><span class="flaticon-ruble"></span> </span>
						</p>
						<p><i> @Truncate(problem.ShortDescription, 200)</i></p>
						<div>
							<i class="flaticon-comments16"></i> <span class="badge">@problem.NewMsgCount</span>
							<a href="/Problem/Details/@problem.Id" class="btn btn-info pull-right" role="button">К задаче</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="col-md-3 text-center">
		<a href="@Url.Action("Create", "Problem")" class="btn btn-success btn-lg" role="button" style="margin-top: 20px;">
			Создать задачу
		</a>
	</div>
</div>
