@model FreeLance.Controllers.EmployerController.HomeViewModel
@{
	ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>
<div class="row">
	<div class="col-md-10">
		<h3>Контракты</h3>
		<div class="list-group">
			@foreach (var contract in Model.ActualContracts)
			{
			    <a href="/Contract/Details/@contract.ContractId" class="list-group-item">
				    <h4 class="list-group-item-heading">Контракт по задаче <b>@contract.Problem.Name</b></h4>
				    <p class="list-group-item-text"><i>Исполнитель: @contract.Freelancer.UserName</i></p>
				    <p class="list-group-item-text"> @contract.Details</p>

                    @using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@contract.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.Closed" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@contract.ContractId" />
                        <input style="margin-top: 20px;" type="submit" class="btn btn-success btn-lg" value="Принять работу" />
                    }

                    @using (Html.BeginForm("ChangeStatus", "Contract", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@contract.ContractId" />
                        <input name="status" type="hidden" value="@FreeLance.Models.ContractStatus.InProgress" />
                        <input name="redirect" type="hidden" value="/Contract/Details/@contract.ContractId" />
                        <input style="margin-top: 10px;" type="submit" class="btn btn-success btn-lg" value="Отправить на доработку" />
                    }
                </a>
            }
		</div>
		<h3>Мои открытые задачи</h3>
		<div class="list-group">
			@foreach (var problem in Model.OpenProblems)
			{
			<a href="/Employer/Problem/@problem.ProblemId" class="list-group-item">
				<h4 class="list-group-item-heading">Задача <b>@problem.Name</b></h4>
				<p class="list-group-item-text"><i>Откликнулось исполнителей: @problem.Subscriptions.Count</i></p>
			</a>
			}
		</div>
	</div>
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active">@Html.ActionLink("Личный кабинет", "Home", "Employer")</li>
			<li role="presentation">@Html.ActionLink("Архив контрактов", "Archive", "Employer")</li>
			<li role="presentation">@Html.ActionLink("Исполнители", "Freelancers", "Employer")</li>
		</ul>

		<a href="@Url.Action("Create", "Problem")">
			<button style="margin-top: 20px;" type="button" class="btn btn-success btn-lg">Создать задачу</button>
		</a>
	</div>
</div>