
@{
	ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>
<div class="row">
	<div class="col-md-10">
		<h3>Контракты</h3>
		<div class="list-group">
			@for (var i = 0; i < 2; i++)
			{
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Контракт @i</h4>
					<p class="list-group-item-text">Краткое описание</p>
				</a>
			}
		</div>
		<h3>Мои открытые задачи</h3>
		<div class="list-group">
			@for (var i = 0; i < 3; i++)
			{
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Задача @i</h4>
					<p class="list-group-item-text">Краткое описание</p>
				</a>
			}
		</div>
	</div>
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active">@Html.ActionLink("Личный кабинет", "Home", "Employer")</li>
			<li role="presentation">@Html.ActionLink("Архив контрактов", "Archive", "Employer")</li>
			<li role="presentation">@Html.ActionLink("Исполнители", "Freelancers", "Employer")</li>
		</ul>
		<button style="margin-top: 20px;" type="button" class="btn btn-success btn-lg">Создать задачу</button>
	</div>
</div>