@model FreeLance.Controllers.EmployerController.HomeViewModel
@{
	ViewBag.Title = "Личный кабинет";
}


<div class="col-md-10">
	<h2>@ViewBag.Title</h2>
	<h3>Контракты</h3>
	<div class="list-group">
		@foreach (var contract in Model.ActualContracts)
		{
			if (@contract.Status == FreeLance.Models.ContractStatus.Done)
			{
				<style scoped>
					.status {
						color: green;
					}
				</style>
			}
			else if (@contract.Status == FreeLance.Models.ContractStatus.InProgress ||
				@contract.Status == FreeLance.Models.ContractStatus.Opened)
			{
				<style scoped>
					.status {
						color: royalblue;
					}
				</style>
			}
			else
			{
				<style scoped>
					.status {
						color: red;
					}
				</style>
			}
			<a href="/Contract/Details/@contract.ContractId" class="list-group-item">
				<h4 class="list-group-item-heading">@contract.Problem.Name <small class="status">@contract.Status</small></h4>
				<p class="list-group-item-text" style="color:lightgray"><i>@contract.Freelancer.UserName</i></p>
				<p class="list-group-item-text"> @contract.Details</p>
			</a>
		}
	</div>
	<h3>Мои открытые задачи</h3>
	<div class="list-group">
		@foreach (var problem in Model.OpenProblems)
		{
			<a href="/Problem/Details/@problem.ProblemId" class="list-group-item">
				<h4 class="list-group-item-heading">@problem.Name</h4>
				<p class="list-group-item-text" style="color:forestgreen"><i>Откликнулось @problem.Subscriptions.Count исполнителей</i></p>
				<p class="list-group-item-text"> @problem.Description</p>
			</a>
		}
	</div>
</div>
<div class="col-md-2">
	<a href="@Url.Action("Create", "Problem")">
		<button style="margin-top: 20px;" type="button" class="btn btn-success btn-lg">Создать задачу</button>
	</a>
</div>
